*{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

li{
	list-style-type: none;
}

li ,ul,a.ramojiLogo {
	float: left;
}

.container {
	width: 940px;
	margin: auto;
}

.clearFix ,ul.eventList li.clearFix, #footer ul.footerNavigation li.clearFix {
	width: 0px;
	height: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	float: none;
	clear: both;
}

#header {
	background-color: #ffffff;
	padding:6px 0 4px 0px;
	font-family:arial,helvetica,"sans-serif";
}

a.ramojiLogo{
	width:120px;
	height:45px;
	background-image: url("../images/ramoji_logo.png");
	display: block;
}

ul.navigation, ul.socailIcons,span.rightArrowImg{
	float: right;
}

.navigation a{
	color:#ff0000;
}

.socailIcons{
	margin: 10px 0 0 11px;
}

.socailIcons li{
	margin-left: 6px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: #ff0000;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.socailIcons a{
	height: 24px;
	display: block;
}

.socailIcons li:hover{
	background-color: #000000;
}

.facebookLogo {
	background-image:url("../images/logo_facebook.png");
}

.twitterLogo {
	background-image:url("../images/logo_twitter.png");
}

.pinLogo {
	background-image:url("../images/logo_p.png");
}

.googleLogo {
	background-image:url("../images/logo_google_plus.png");
}

ul.navigation{
	margin-top: 18px;
	font-size: 14px;
	line-height: 16px;
}

.navigation li{
	margin-right: 25px;
}

#banner {
	background: #000000 no-repeat url("../images/rfc_home.jpg") center top;
	color: #ffffff;

}

#banner .container{
	position: relative;
	height: 545px;
}

.textContent {
	position: absolute;
	bottom: 30px;
}

div.themesNavigation{
	background-color: #ff0000;
	padding:20px 0;
}

div.textContent h1{
	font-family:arial,helvetica,"sans-serif";
	font-size: 44px;
	line-height: 46px;
}

div.textContent p{
	font-family:"minion-pro",times,serif;
	font-weight: normal;
	font-size: 22px;
	line-height: 24px;
}

.themesNavigation li{
	margin-left: 19px;
	color:#ffffff;
	font-size: 22px;
	line-height: 24px;
	font-family:arial,helvetica,"sans-serif";
	font-weight: lighter;
	border:2px solid #ffffff;
	background: url("../images/go_icon.png") no-repeat right 15px center;
	width:216px;
	border-radius: 5px;
}

.themesNavigation li:first-child {
	margin-left: 0px;
}

.themesNavigation a{
	padding: 15px 13px 15px 19px;
	display: block;
}



#content {
	background-color: #ffffff;
	margin-top: 66px;
}

#content h2{
	font-family:arial,helvetica,"sans-serif";
	font-size: 40px;
	color: #ff0000;
	margin-bottom: 24px;
}

ul.eventList{
	float: none;
	color: #ffffff;
}

ul.eventList h3{
	font-size: 18px;
	line-height: 20px;
	font-family:arial,helvetica,"sans-serif";
	margin:5px 0 10px;
}

ul.eventList span{
	font-size: 11px;
	line-height: 13px;
	font-family:arial,helvetica,"sans-serif";
	font-weight: normal;
}

ul.eventList li{
	width: 300px;
	background-color: #140e04;
	margin-left: 20px;
	padding-bottom: 21px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

ul.eventList li:first-child ,#footer li.eventTypeList:first-child {
	margin-left: 0px;
}


div.gallaryImg{
	width: 300px;
	height: 200px;
}
div.gallaryTxt{
	margin:19px 0 0 14px;
}


#footer {
	color:#ffffff;
	background-color: #444444;
	padding: 29px 0 128px;
	margin-top: 70px;
	font-size: 14px;
	line-height: 16px;
	font-family:"minion-pro",times,serif;
	box-shadow: 0px -1px 5px rgba(0,0,0,0.3);
}

ul.eventType{
	padding-bottom: 30px;
	border-bottom: 1px solid #535353;
}

#footer ul,#footer li {
	float: none;
}

.eventTypeList li{
	margin-top: 8px;
}


#footer li.eventTypeList {
	float: left;
	width: 162px;
	margin-left: 28px;
}

#footer h3, .copyRight {
	font-family:arial,helvetica,"sans-serif";
	font-size: 14px;
	line-height: 24px;
	padding-left: 5px;
	color: #b2b2b2;
}

.extentedOffers{
	margin-top: 29px;
	font-weight: bold;
}

ul.footerNavigation{
	width: 585px;
	margin: 19px auto 0;
	font-size: 12px;
}

.copyRight{
	text-align: center;
	display: block;
}

#footer ul.footerNavigation li{
	float: left;
	border-left: 1px solid #ffffff;
	padding: 0 8px;
	font-family:arial,helvetica,"sans-serif";
	font-weight: bold;
}
#footer ul.footerNavigation li:first-child{
	border: 0;
}

a:hover{
	color: #ff0000;
	background-color: #ffffff;
}

.navigation a:hover{
	color: #fff;
	background-color: #ff0000;
}

.themesNavigation li :hover{
	background: #ffffff url("../images/go_icon_red.png") no-repeat right 15px center;
}

.facebookLogo :hover{
	background-image:url("../images/logo_facebook_red.png");
	border-radius: 12px;
	border: 1px solid #ff0000;
}

.twitterLogo :hover{
	background-image:url("../images/logo_twitter_red.png");
	border-radius: 12px;
	border: 1px solid #ff0000;
}

.pinLogo :hover{
	background-image:url("../images/logo_p_red.png");
	border-radius: 12px;
	border: 1px solid #ff0000;
}

.googleLogo :hover{
	background-image:url("../images/logo_google_plus_red.png");
	border-radius: 12px;
	border: 1px solid #ff0000;
}


