*{
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: SrcSanProLight;
    src: url("../font/source-sans-pro/SourceSansPro-Light.otf");
}

@font-face {
	font-family: SrcSanProBold;
	src: url("../font/source-sans-pro/SourceSansPro-Bold.otf");
}


.container {
	width: 940px;
	margin: auto;
}

#navigation {
	height: 50px;
	background-color:#444444;
	font-size: 18px;
	line-height: 50px;
	font-family: SrcSanProBold;
}



#navigation li{
	border-right: 1px solid #333333;
	height: 50px;
	padding:0px 20px;
}

#navigation img{
	float: left;
}

#navigation img{
	margin-top: 9px;
}


#header {
	background-image: url("../images/background.jpg");
	height: 486px;
}

#header h1{
	font-size: 48px;
	font-family: SrcSanProBold;
	color: white;
}

#header h2{
	font-size: 36px;
	font-family: SrcSanProLight;
	color: white;
}

.button{
	float:left;
	width: 170px;
	text-align: center;
	font-size: 20px;
	line-height: 47px;
	font-family: SrcSanProBold;
	border-radius: 3px;
	margin:47px 21px 0px 0px;
}

.buttonTypeOne{
	background-color: #f2f2f2;
	color: #222222;
}

.buttonTypeTwo{
	background-color: #ff9900;
	color: #ffffff;
}

div.bannerContent{
	padding-top: 188px;
	float: left;
}

#contents{
	background-color: #ffffff;
	text-align: center;
}

#contents h1{
	padding-top: 64px;
	font-size: 36px;
	line-height: 40px;
	font-family: SrcSanProBold;
	color: #444444;
}

.artOpperations{
	margin:76px 0px 0px 5px;
}

.artOpperations li{
	margin-left: 75px;
	width:140px;
	font-size: 16px;
	line-height: 20px;
	font-family: SrcSanProLight;

}


.artOpperations div{
	height: 140px;
	border-radius: 70px;
	background-color: #efefef;
}

.artOpperations img{
	margin-top: 49px;
}

.clear{
	clear: both;
}

#footer{
	background-color: #ececec;
	font-family: SrcSanProBold;
	padding-top:30px;
}

.rights{
	float: left;
}

.socailIcons div{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #888888;
}

#footer img{
	padding: 4px;
}

.socailIcons{
	float: right;
}

.socailIcons li{
	margin-left: 10px;
}



.rights, .lowerMenu{
	color:#aaaaaa;
	margin-right:20px;
	font-size:14px;
	line-height:18px;
}

.menu a{
	color:#ff9900;
	font-size:16px;
	line-height:20px;
	margin-left:10px;
}


a {
	text-decoration: none;
	color:#aaaaaa;
}

li {
	list-style-type: none;
	float: left;
}

a:hover {
	color:blue;
}

.contentsClear{
	height:118px;
}

.footerClear{
	height:87px;
}
